<header>
  <h1><a href="/">Ria Vinod</a></h1>
  <img src="/pic.jpg"/>

  <meta name="viewport" content="width=device-width, initial-scale=1">


  <body>
  <p> Info </p>
  <ul>
    <!-- <li><a href="/posts">all posts</a></li> -->
    <li><a href="mailto:ria_vinod@brown.com">email</a></li>
    <!-- <li><a href="/pdfs/cv.pdf">CV</a></li> -->
    <li><a href="https://github.com/riavinod">github</a></li>
    <li><a href="https://linkedin.com/in/ria">linkedin</a></li>
    <li><a href="https://twitter.com/riavinod_">twitter</a></li>
    
  </ul> 

  <br>
  <br>
  
  <p> Posts </p>
  <ul>
    <li><a href="https://riavinod.github.io/2018/08/31/bottle_caps_arent_optimisers.html">Intro to proteins</a></li>
    <li><a href="https://riavinod.github.io/2019/02/06/impact_reg_test_cases.html">Books</a></li>
    <li><a href="https://riavinod.github.io/2022/03/10/prob_smart_londoner_dies_of_russian_nuke.html">Why I research what I research</a></li>
    <li><a href="https://riavinod.github.io/2018/07/10/mechanistic_transparency.html">For new grad students</a></li>
    <li><a href="https://riavinod.github.io/2018/01/03/schelling.html">Everyday moments</a></li>

  </ul>
</body>
</header>

